@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: IRANSansXRegular;
  src: url("/fonts/IRANSansXRegular.ttf");
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: IRANSansXRegular, sans-serif, Arial, Helvetica;
}

/* swiper navigation styles */
.swiper-button-prev,
.swiper-button-next {
  background-color: #2347fb;
  border-radius: 50%;
  height: 35px !important;
  width: 35px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
  font-size: 14px !important;
  font-weight: 700;
}

.swiper-button-disabled {
  opacity: 0 !important;
}
